:host {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;

  @media (max-width: 900px) {
    gap: 34px;
  }

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.border {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 50%;
  width: fit-content;
  padding: 22px;
}

.dislike {
  border-color: #ee324d;
}

.superLike {
  border-color: #32a9fb;
  padding: 18px;
}

.like {
  border-color: #56f9c4;
}

.expanded {
  background-color: #111418;
  border-color: transparent;
  box-shadow: 0 0.46875rem 1.975rem rgba(125, 126, 128, 0.03),
    0 0.9375rem 0.70625rem rgba(125, 126, 128, 0.03),
    0 0.25rem 0.26125rem rgba(125, 126, 128, 0.05),
    0 0.125rem 0.0975rem rgba(125, 126, 128, 0.03);
}