@use '@angular/material' as mat;
@use 'variables/palette';

@include mat.core();

@font-face {
  font-family: 'MainFont';
  src: url('../assets/fonts/Proxima\ Nova\ Font.otf');
  font-size: 16px
}

$frontend-primary: mat.define-palette(palette.$myPalette, 500);
$frontend-accent: mat.define-palette(palette.$myPalette, A400);
$frontend-warn: mat.define-palette(mat.$red-palette);
$my-typography: mat.define-typography-config();

$frontend-theme: mat.define-dark-theme((color: (primary: $frontend-primary,
        accent: $frontend-accent,
        warn: $frontend-warn,
      ),
      typography: $my-typography,
    ));

@include mat.all-component-themes($frontend-theme);

:root {
  --border-max: 18px;
  --border-normal: 8px;

  --gap-s: 4px;
  --gap-m: 8px;
  --gap-l: 16px;
  --gap-xl: 24px;

  --font-s: 14px;
  --font-m: 16px;
  --font-l: 24px;
  --font-xl: 36px;

  --lineHeight-s: 16px;
  --lineHeight-m: 20px;
  --lineHeight-l: 24px;
  --lineHeight-xl: 40px;

  --color-error: #ff6961;
  --color-success: #77dd77;
  --color-whitish: #ddd;
  --color-blackish: #222;

  --color-font-primary: #F0F2F4;
  --color-font-secondary: #B9BFC8;
  --color-border: rgba(121, 121, 121, 0.582);

  --color-main: #445968;
  --background-color: #222324;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  // overflow-y: hidden;
  overflow-x: hidden;

  background-color: var(--background-color);
  color: var(--color-font-primary);

  font-family: 'MainFont', "Open Sans", Roboto, "Helvetica Neue", sans-serif;
  font-size: var(--font-m);
  font-weight: 400;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: var(--color-main);
  }
}

emoji-mart.picker {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.emoji-mart-scroll {
  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: var(--color-main);
  }
}

.emoji-mart-dark .emoji-mart-category .emoji-mart-emoji:hover:before {
  top: 3px;
  left: 4.6px;
}

.cursor-pointer {
  cursor: pointer;
}

.link {
  color: #5884dd;
  text-decoration: none;
}

.text-secondary {
  color: var(--color-font-secondary);
  font-size: 14px;
}

.changeDialogScrollView {
  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: var(--color-main);
  }
}


.move-dialog {
  .mat-mdc-dialog-container .mdc-dialog__container {
    position: relative;
    left: 190px;

    @media (max-width: 900px) {
      left: 0;
    }
  }
}

.mat-mdc-snack-bar-container {
  &.error-snackbar {
    --mdc-snackbar-container-color: var(--color-error);
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }

  &.success-snackbar {
    --mdc-snackbar-container-color: var(--color-success);
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

.mat-mdc-slider {
  margin: 0 !important;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
  background-color: var(--color-font-secondary) !important;
}

.mat-mdc-snack-bar-container {
  &.error-snackbar {
    --mdc-snackbar-container-color: var(--color-error);
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }

  &.success-snackbar {
    --mdc-snackbar-container-color: var(--color-success);
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}