<ng-container *ngIf="{currentImage: currentImage$ | async} as val">
  <div
    *ngIf="{match: currentMatch$ | async} as res"
    class="container"
    [class.details]="expanded$ | async"
  >
    <ng-container *ngIf="isLoaded$ | async; else loading">
      <div
        *ngIf="res.match; else noData"
        class="image"
        [ngStyle]="{'background-image': 'url('+res.match.images[val.currentImage]+')'}"
        [ngClass]="swipeAction$ | async"
      >
        <div
          *ngIf="(swipeAction$ | async) === 'like'"
          class="like label"
        >POLUB</div>
        <div
          *ngIf="(swipeAction$ | async) === 'superLike'"
          class="superLike label"
        >SUPER LIKE</div>
        <div
          *ngIf="(swipeAction$ | async) === 'dislike'"
          class="dislike label"
        ><span class="move">ŻEGNAM</span></div>
        <div class="box">
          <div
            *ngFor="let item of res.match.images; let i=index"
            class="progress"
            [class.current]="val.currentImage === i"
          ></div>
        </div>
        <mat-icon
          *ngIf="val.currentImage !== 0"
          class="icon"
          (click)="switchImage(-1)"
        >chevron_left</mat-icon>
        <mat-icon
          *ngIf="val.currentImage !== res.match.images.length-1"
          class="icon right"
          (click)="switchImage(1)"
        >chevron_right</mat-icon>
        <div
          *ngIf="(expanded$ | async) === false"
          class="blur"
        ></div>
        <div
          *ngIf="(expanded$ | async) === false"
          class="info"
        >
          <div>
            <span class="name">{{res.match.name}}</span>
            <span class="age">{{res.match.age}}</span>
          </div>
          <div class="flex">
            <mat-icon class="material-icons-outlined">house</mat-icon>
            Mieszka w:
            <span>{{res.match.city}}</span>
          </div>
          <div class="flex">
            <mat-icon class="material-icons-outlined">place</mat-icon>
            <span>{{res.match.distance}} kilometrów stąd</span>
          </div>
        </div>
        <mat-icon
          class="open"
          (click)="toggleOpened()"
        >info</mat-icon>
      </div>
    </ng-container>

    <mouse-actions
      *ngIf="(expanded$ | async) === false"
      class="actions"
      [isExpanded]="expanded$ | async"
    />

    <more-info
      *ngIf="res.match && (expanded$ | async)"
      [match]="res.match"
    />
  </div>
</ng-container>

<mouse-actions
  *ngIf="(expanded$ | async)"
  class="actions actions-expanded"
  [isExpanded]="expanded$ | async"
/>

<ng-template #noData>
  <div class="center">
    Brak wyników dla wybranych kryteriów
  </div>
</ng-template>

<ng-template #loading>
  <div class="center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>