interests-dialog {
  display: flex;
  flex-direction: column;
  padding: 14px 20px;
  position: relative;

  .center {
    align-self: center;
    padding-bottom: 6px;
  }

  .title {
    font-size: 19px;
  }

  .button {
    position: sticky;
    bottom: 6px;
    margin-top: 6px;
    z-index: 2;
  }

  .mat-mdc-raised-button:disabled {
    background-color: var(--color-main);
  }

  .mdc-evolution-chip-set__chips {
    justify-content: center;
  }

  .mdc-evolution-chip--selectable .mdc-evolution-chip__graphic {
    width: 0;
    visibility: hidden;
  }
}