:host {
  display: flex;
  height: 100%;
  width: 100%;

  @media (max-width: 1200px) {
    flex-direction: column;

    .divider {
      border-width: 1px 0 0;
    }
  }
}

.left {
  flex: 3.5;
}

.right {
  flex: 7;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  max-width: 400px;
}

.divider {
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
}


.form {
  width: 400px;
  height: 470px;
  border: 2px solid black;
}