<div *ngIf="messages$ | async as messages">
  <div
    *ngFor="let message of messages; let index = index"
    class="container"
    [class.move]="message.fromCurrentUser"
    [class.remove-gap]="messages[index+1]?.authorId === message.authorId"
  >
    <div
      *ngIf="message?.date | showHour: messages[index-1]?.date"
      class="line"
    >
      {{ message?.date | messengerDate }}
    </div>

    <div
      class="
      message"
      [title]="message?.date | messengerDate"
      [ngClass]="message.fromCurrentUser ? 'sent' : 'received'"
    >
      {{ message.content }}
    </div>
  </div>
</div>