<mat-form-field
  hideRequiredMarker
  appearance="outline"
  class="form"
>
  <mat-label>Miasto</mat-label>
  <input
    type="text"
    placeholder="Zacznij pisać"
    matInput
    formControlName="cityInput"
    [matAutocomplete]="auto"
  >
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option
      *ngFor="let city of cities$ | async"
      (onSelectionChange)="save(city.value)"
      [value]="city.text"
    >
      {{city.text}}
    </mat-option>
  </mat-autocomplete>
  <mat-hint align="end">Wybrane miasto: <strong>{{cityChosen?.value?.Name || '-'}}</strong> </mat-hint>
</mat-form-field>
<mat-error
  *ngIf="cityInput?.touched && (cityChosen?.errors || cityInput?.errors)"
  class="error"
>
  Wybierz miasto
</mat-error>