<div class="box">
  <add-button-with-dialog
    formName="lookingFor"
    title="Szukam"
    [valueDisplay]="lookingFor"
    buttonText="Czego szukasz?"
    [component]="LookingForDialogComponent"
    (valueChanged)="valueChanged('lookingFor')"
  />
</div>

<div class="box">
  <add-button-with-dialog
    formName="sexualOrientations"
    title="Orientacja seksualna"
    [valueDisplay]="sexualOrientations"
    buttonText="Dodaj orientację seksualną"
    dialogHeight="570px"
    [component]="SexualOrientationDialogComponent"
    (valueChanged)="valueChanged('sexualOrientations')"
  />
</div>

<div class="box">
  <add-button-with-dialog
    formName="interests"
    title="Zainteresowania"
    [valueDisplay]="interests"
    buttonText="Dodaj zainteresowania"
    dialogHeight="450px"
    [component]="InterestsDialogComponent"
    (valueChanged)="valueChanged('interests')"
  />
</div>