<div class="box">
  <span class="title">Płeć</span>
  <mat-chip-listbox formControlName="sex">
    <mat-chip-option>Mężczyzna</mat-chip-option>
    <mat-chip-option>Kobieta</mat-chip-option>
    <mat-chip-option>Inne</mat-chip-option>
  </mat-chip-listbox>
</div>

<div class="box">
  <span class="title">Pokaż mi</span>
  <mat-chip-listbox formControlName="showMe">
    <mat-chip-option>Mężczyzn</mat-chip-option>
    <mat-chip-option>Kobiety</mat-chip-option>
    <mat-chip-option>Wszystkich</mat-chip-option>
  </mat-chip-listbox>
</div>

<div class="box">
  <add-button-with-dialog
    formName="lookingFor"
    title="Szukam:"
    [value]="lookingFor"
    buttonText="Czego szukasz?"
    [component]="LookingForDialogComponent"
    (valueChanged)="valueChanged('lookingFor')"
  />
</div>

<div class="box">
  <add-button-with-dialog
    formName="sexualOrientation"
    title="Orientacja seksualna:"
    [value]="sexualOrientation"
    buttonText="Dodaj orientację seksualną"
    dialogHeight="570px"
    [component]="SexualOrientationDialogComponent"
    (valueChanged)="valueChanged('sexualOrientation')"
  />
</div>

<div class="box">
  <add-button-with-dialog
    formName="interests"
    title="Zainteresowania:"
    [value]="interests"
    buttonText="Dodaj zainteresowania"
    dialogHeight="450px"
    [component]="InterestsDialogComponent"
    (valueChanged)="valueChanged('interests')"
  />
</div>