<div class="box">
  <div
    [routerLink]="link"
    class="chip"
    [title]="link === '/home' ? 'Wstecz' : 'Ustawienia'"
  >
    <ng-container *ngIf="userBasicData$ | async as userBasicData">
      <div
        class="img"
        [ngStyle]="{'background-image': 'url('+userBasicData.image+')'}"
      ></div>
      <div class="inside">
        {{userBasicData.name}}
        <mat-icon>{{link === '/home' ? 'undo' : 'settings'}}</mat-icon>
      </div>
    </ng-container>
  </div>
</div>

<ng-component *ngComponentOutlet="component"></ng-component>