$myPalette: (
  50 : #fee6ec,
  100 : #fec2d1,
  200 : #fd99b2,
  300 : #fc7093,
  400 : #fb517b,
  500 : #fa3264,
  600 : #f92d5c,
  700 : #f92652,
  800 : #f81f48,
  900 : #f61336,
  A100 : #ffffff,
  A200 : #fff1f3,
  A400 : #ffbec7,
  A700 : #ffa5b0,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);