$myPalette: (
  50 : #e9ebed,
  100 : #c7cdd2,
  200 : #a2acb4,
  300 : #7c8b95,
  400 : #60727f,
  500 : #445968,
  600 : #3e5160,
  700 : #354855,
  800 : #2d3e4b,
  900 : #1f2e3a,
  A100 : #80c5ff,
  A200 : #4dadff,
  A400 : #1a96ff,
  A700 : #008aff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);