$myPalette: (
  50 : #f1edec,
  100 : #dcd3cf,
  200 : #c5b6af,
  300 : #ad988f,
  400 : #9c8277,
  500 : #8a6c5f,
  600 : #826457,
  700 : #77594d,
  800 : #6d4f43,
  900 : #5a3d32,
  A100 : #ffbfa9,
  A200 : #ff9976,
  A400 : #ff7343,
  A700 : #ff602a,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);