:host {
  display: block;
  overflow-y: auto;
  max-height: calc(100vh - 84px);

  &::-webkit-scrollbar {
    display: none;
  }
}

.image {
  background-position: 50% 10%;
  background-size: auto 125%;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.chat {
  cursor: pointer;
  display: flex;
  gap: 14px;
  padding-block: 10px;
  padding-left: 25px;
  border-bottom: 1px solid var(--color-border);

  &:hover {
    border-right: 5px solid var(--color-main);
  }
}

.current-chat {
  background-color: #121212;
  border-right: 5px solid var(--color-main);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.message {
  color: var(--color-font-secondary);
  font-size: 17px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 240px;

  &.bold {
    font-weight: 700;
  }
}

.date {
  font-size: 12px;
  font-style: italic;
}

.no-chats {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}