<div
  *ngFor="let chat of previousChats$ | async"
  class="chat"
  (click)="changeCurrentChat(chat)"
  [class.current-chat]="currentChat$.value === chat.id"
>
  <div
    class="image"
    [ngStyle]="{'background-image': 'url('+chat.userImage+')'}"
  ></div>
  <div class="center">
    <span class="title">{{ chat.withUser }}</span>
    <span
      *ngIf="chat.content"
      class="message"
      [class.bold]="!chat.isRead"
    >
      {{ chat.content }}
    </span>
    <span
      class="date"
    >
      {{ chat.date | messengerDate }}
    </span>
  </div>
</div>