:host {
  display: flex;
}

.container {
  flex: 3;
  border-right: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;

  .header {
    height: 64px;
    padding: 12px;
  }

  .footer {
    flex: 1;
    padding: 12px;
  }

  .header {
    border-bottom: 1px solid var(--color-border);
  }

  .content {
    flex: 9;
    padding: 12px;
  }

  .footer {
    border-top: 1px solid var(--color-border);
  }
}

.user {
  flex: 1.5;
  max-height: 100vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.button {
  margin-left: 4%;
  width: 92%;
}