<div class="container">
  <header class="header"></header>
  <content class="content"></content>
  <footer class="footer"></footer>
</div>

<div class="user">
  <ng-container *ngIf="this.match$ | async as match">
    <match-image
      [match]="match"
      [isChat]="true"
      [hideInfoButton]="true"
    />

    <more-info [match]="match" />
  </ng-container>
  <button
    mat-stroked-button
    class="button"
    (click)="removeMatch()"
  >Usuń parę</button>

  <button
    mat-stroked-button
    class="button"
    (click)="blockMatch()"
  >Zablokuj</button>

</div>