<div class="container">
  <header
    class="header"
    [isSuperLiked]="isSuperLiked"
    [matchName]="matchName"
  ></header>
  <content
    class="content"
    (isSuperLiked)="isSuperLiked = $event"
  ></content>
  <footer class="footer"></footer>
</div>

<div class="user">
  <ng-container *ngIf="this.match$ | async as match">
    <match-image
      [match]="match"
      [isChat]="true"
      [hideInfoButton]="true"
    />

    <more-info [match]="match" />

    <div class="buttons">
      <button
        mat-stroked-button
        class="button remove"
        (click)="removeMatch(match.id)"
      >Usuń parę</button>

      <button
        mat-stroked-button
        class="button block"
        (click)="blockMatch(match.id)"
      >Zablokuj</button>
    </div>
  </ng-container>

</div>