:host {
  display: flex;
  height: 100vh;
}

.left {
  z-index: 1;
  width: 380px;
  border-right: 1px solid var(--color-border);

  @media (max-width: 1100px) {
    display: none;
  }
}

.right {
  flex: 1;
}