<form
  [formGroup]="form"
  (ngSubmit)="register()"
  class="form"
>
  <h1 class="align--header">Rejestracja</h1>

  <ng-container [ngSwitch]="currentPageListener$ | async">
    <first-page
      *ngSwitchCase="1"
      (changePage)="changePage($event)"
    />
    <second-page
      *ngSwitchCase="2"
      (changePage)="changePage($event)"
    />
    <third-page
      *ngSwitchCase="3"
      (changePage)="changePage($event)"
    />
  </ng-container>

  <div class="divider"></div>

  <span class="align--text">
    Masz już konto?
    <a
      class="link"
      [routerLink]="LOGIN_LINK"
    >
      Zaloguj się
    </a>
  </span>
</form>

<button mat-raised-button (click)="registerMock()">Stwórz konta</button>