<form
  [formGroup]="form"
  (ngSubmit)="register()"
  class="form"
>
  <h1 class="align--header">Rejestracja</h1>

  <basic />

  <div class="box">
    <sex-related />
    <image-dropdown />
  </div>

  <button
    class="additional"
    mat-raised-button
    color="primary"
    type="button"
    (click)="openAdditionalDialog()"
  >
    Dodatkowe informacje
  </button>

  <button
    [disabled]="!form.valid"
    mat-raised-button
    color="primary"
    class="align--button"
  >
    Stwórz konto
  </button>

  <div class="divider"></div>

  <span class="align--text">
    Masz już konto?
    <a
      class="link"
      [routerLink]="LOGIN_LINK"
    >
      Zaloguj się
    </a>
  </span>
</form>