<form
  [formGroup]="form"
  (ngSubmit)="register()"
  class="form"
>
  <basic />

  <div class="box">
    <my-datepicker
      label="Data urodzenia"
      controlName="birthDate"
    />

    <city />
  </div>

  <div class="box">
    <sex-related />
    <image-dropdown />
  </div>

  <div class="divider big"></div>

  <button
    [disabled]="!form.valid"
    mat-raised-button
    color="primary"
  >
    Stwórz konto
  </button>

  <span>
    Masz już konto?
    <a
      class="link"
      [routerLink]="LOGIN_LINK"
    >
      Zaloguj się
    </a>
  </span>
</form>

<button
  type="button"
  (click)="authenticationService.get()"
>siema</button>