.form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);

  margin-inline: 18%;
  padding-block: 40px;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 22px;
  gap: var(--gap-m);
}

.divider {
  border: solid var(--color-main);
  align-self: center;
  border-width: 0 0 1px 0;
  margin-block: 16px;
  width: 80%;
}

.align {
  &--header {
    align-self: center;
    padding-bottom: 20px;
  }

  &--button {
    align-self: flex-end;
  }

  &--text {
    align-self: center;
  }
}

.additional {
  width: fit-content;
}