additional-data {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 16px;

  .form {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .title {
    margin: auto;
  }

  .flex {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
  }

  .description {
    overflow-wrap: break-word;
    height: 150px;

    padding: 10.5px 16px;
    width: 100%;
    margin-block: 10px;
    resize: none;
    box-shadow: inset 0 0 0 1px #717272;
    border: 0;
    border-radius: 8px;
    font-size: var(--font-m);
    line-height: var(--lineHeight-m);
    color: #eee;
    background-color: transparent;

    font-family: "MainFont";

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 15px;
      background-color: var(--color-main);
    }

    &:focus-visible {
      outline: none;
    }
  }

  .length {
    position: absolute;
    top: 200px;
    right: 4px;
    font-size: 12px;
  }

  .box {
    display: flex;
    width: 100%;
    gap: 16px;

    &.column {
      flex-direction: column;
    }
  }

  .mat-mdc-form-field {
    width: 100%;
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}