.header {
  display: flex;
  justify-content: space-between;

  &.right {
    justify-content: flex-end;
  }
}

.flex {
  display: flex;
  align-items: center;
  gap: 12px;
}

.close {
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: var(--color-font-secondary);
}

.anim {
  animation: header_pulsate 3s 3 forwards;
}

@keyframes header_pulsate {
  0% {
    transform: scale(0.9);
  }
  
  50% {
    transform: scale(1.2);
  }
  
  100% {
    transform: scale(0.9);
  }
}